
body{
  background: white;
  color: darkcyan;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  !important;
}
h1,h2,h3,h4,h5,h6{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  !important;
  letter-spacing: 0.25rem !important;
}
.text-yellow{
  color: yellow;
}
.default_background{
  height: 60vh;
  width: 100%;
  position: relative;


}
.vertical-center {
  margin-left:auto;
    margin-right:0px;
  display:block;
  width: 970px;
  background-color: #def2f1;
  top:50%

}
.btn-yellow{
  color: blue !important;
  border-color:blue !important

}

.footer{
  background: #14a098;

}
.header{
  background: #def2f1;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
}

.header h2 {
  position: relative;
  top: 18px;
  left: 10px;
}
.project{
  background: wheat;
}
.navbar-nav a:hover, .dropdown:hover .dropbtn {
  font-size: 15px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  background-color: #cccccc;
  border-radius: 30px;
  filter: blur(0.5px);

}
.navbar-nav{
  max-width: 1570px;

}

@media (min-width: 1200px) {
  .navbar-container{
      max-width: 970px;
  }
}
.navbar-brand {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 90px;
}

.socials li {
  display: inline-block;
  line-height: 30px;
  font-size: 10px;
  padding: 0 5px;
  }

  /* .socials li a:hover{
  background-color:#2b7a78;
  } */
  /* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  background-color:#ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.myDiv {
  border: 5px outset lightblue;
  background-color: #def2f1;
  text-align: center;
}
.social-container {
  padding: 25px 50px;
}
a.social:hover {
  transform: translateY(-2px);
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.youtube {
  filter: blur(0.5px);
  transition-delay: 1s;
  color: #eb3223;
  transition: transform 200ms ease-in-out;
  box-sizing: border-box;

}

a.facebook {
  filter: blur(0.5px);
  transition: transform 200ms ease-in-out;
  box-sizing: border-box;

}
.noHover{
  pointer-events: none;
}

a.twitter {
  filter: blur(0.5px);
  color:deepskyblue;
  transition: transform 200ms ease-in-out;
  box-sizing: border-box;

}
a.whatsapp {

}

.main-panel {
  padding-top: 40px;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  padding: 28px 200px;
}
fieldset {
  display: block;
  margin-left: 12px;
  margin-right: 12px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 12px groove (internal value);
}
legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

/*{
  box-sizing: border-box;
}

body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
/*.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
/*.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
/*.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
/*.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
/*.left {
  left: 0;
}

/* Place the container to the right */
/*.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
/*.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid black;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent black;
}

/* Add arrows to the right container (pointing left) */
/*.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid black;
  border-width: 10px 10px 10px 0;
  border-color: transparent black transparent transparent;
}

/* Fix the circle for containers on the right side */
/*.right::after {
  left: -16px;
}

/* The actual content */
/*.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
/*@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
 /* .timeline::after {
  left: 31px;
  }

  /* Full-width containers */
  /*.container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  /*.container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  /*.left::after, .right::after {
  left: 15px;
  }

  /* Make all right containers behave like the left ones */
  /*.right {
  left: 0%;
  }
}*/